<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
					<!-- 订单配置文件： 创建与订单相关的bean-->
	<import resource="spring-goods.xml"/>
							
	<bean id="order0001" class="liu.wiring.noAutowiring.OrderForm"
		  c:_0="0001"
		  c:_1="1">
		  <constructor-arg name="goodslist">
			<list>
				<ref bean="G-Apple"/> 	<!-- 引用spring-goods.xml配置文件中的bean -->
				<ref bean="G-Pear"/>	<!-- 引用spring-goods.xml配置文件中的bean -->
				<ref bean="G-Banana"/>	<!-- 引用spring-goods.xml配置文件中的bean -->
			</list>
			<!-- 需在此标签处添加一行注释，否则与c命名空间混用时会报错。（原因不明） -->
		  </constructor-arg>
	</bean>		
	
</beans>
