<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!--  <context:annotation-config/>-->
	<bean id="G-Apple" class="liu.wiring.noAutowiring.Goods"
	       c:_0="苹果"
	       c:_1="斤"
	       c:_2="8.50"
	       c:_3="水果"/>
	<bean id="G-Pear" class="liu.wiring.noAutowiring.Goods"
	       c:_0="梨"
	       c:_1="斤"
	       c:_2="4.50"
	       c:_3="水果"/>
	<bean id="G-Banana" class="liu.wiring.noAutowiring.Goods"
	       c:_0="香蕉"
	       c:_1="斤"
	       c:_2="2.50"
	       c:_3="水果"/>	       

</beans>
