<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	
	
	<!-- 启动@AspectJ支持 -->
	<aop:aspectj-autoproxy/>
	
	<!-- 方式<1>：指定自动搜索Bean组件，自动搜索切面类 并包含注解对应的切面类，这样不用单独创建切面Bean。
	<context:component-scan base-package="liu.aopAdvice" annotation-config="true">
		<context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect"/>
	</context:component-scan>--> 
	
	<!--方式<2>：context:component-scan>标签指定自动搜索Bean组件，并排除注解对应的切面类,这时需要单独将切面类注入--> 
	<!-- 创建切面Bean，切面必须是一个Bean -->
	<bean id="adviceAspect" class="liu.aop.Advice.AspectConfig"/>	
	<!-- 指定自动搜索Bean组件，排除注解对应的切面类,这时需要单独将切面类注入，防止aspectj失效-->
	<context:component-scan base-package="liu.aop.Advice" annotation-config="true">
		<context:exclude-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect"/>
	</context:component-scan>
</beans>
